#create-workout-container,
#last-workout-summary {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-16);
}

.create-workout-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--space-8);
}

#start-workout-btn,
#new-preset-btn {
    flex: 1;
}