/* workout card */
.workout-summary-card {
	margin-bottom: var(--space-16);
	overflow: hidden;
	background: var(--bg);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	box-shadow: 0 1px 3px var(--shadow-color);
	transition:
		transform 0.2s,
		box-shadow 0.2s;
}

.workout-summary-card:active {
	transform: translatey(1px);
}

.workout-summary {
	padding: var(--space-16);
	cursor: pointer;
}

.workout-title-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: var(--space-4);
}

.workout-title {
	margin: 0;
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-semibold);
	line-height: 1.3;
	color: var(--fg);
}

.workout-date {
	display: flex;
	gap: var(--space-12);
	justify-content: space-between;
	font-size: var(--font-size-xs);
	color: var(--muted);
}

.workout-stats {
	display: flex;
	gap: var(--space-12);
	font-size: var(--font-size-xs);
}

.pr-tag {
	display: inline-block;
	padding: var(--space-4) var(--space-8);
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-medium);
	color: var(--btn-fg);
	text-align: center;
	white-space: nowrap;
	background-color: var(--primary);
	border-radius: var(--border-radius-pill);
}

.exercise-count,
.workout-volume,
.workout-duration {
	display: flex;
	align-items: center;
	color: var(--fg);
}

.workout-volume::before,
.workout-duration::before {
	margin-right: var(--space-8);
	color: var(--border-color);
	content: "•";
}

.workout-details-col {
	display: flex;
	flex-direction: column;
	gap: var(--space-4);
	align-items: flex-end;
}

.workout-details-row {
	display: flex;
	gap: var(--space-8);
	align-items: center;
	font-size: var(--font-size-xs);
	color: var(--muted);
	white-space: nowrap;
}

.workout-prs {
	display: flex;
	justify-content: flex-end;
}

.workout-date {
	display: inline-flex;
	align-items: center;
}

.workout-muscle-groups {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-8);
	margin-top: var(--space-20);
}

.muscle-tag {
	padding: var(--space-4) var(--space-12);
	font-size: var(--font-size-2xs);
	font-weight: var(--font-weight-medium);
	color: var(--muted);
	background-color: var(--btn-secondary-bg);
	border-radius: var(--border-radius-pill);
}

.workout-details {
	display: flex;
	flex-direction: column;
	gap: var(--space-24);
	padding: var(--space-16);
	border-top: 1px solid var(--border-color);
}

.exercise-item-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: var(--space-8);
}

.exercise-name {
	display: flex;
	align-items: center;
	margin: 0 0 var(--space-4) 0;
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-semibold);
	color: var(--fg);
}

.exercise-item-header .exercise-difficulty {
	padding: var(--space-4) var(--space-12);
	font-size: var(--font-size-2xs);
	font-weight: var(--font-weight-medium);
	color: var(--bg);
	background-color: var(--muted);
	border-radius: var(--border-radius-pill);
}
.exercise-difficulty.zero-effort {
	background-color: var(--zero-effort);
}
.exercise-difficulty.easy {
	background-color: var(--easy);
}
.exercise-difficulty.challenging {
	background-color: var(--challenging);
}
.exercise-difficulty.struggled {
	background-color: var(--struggled);
}
.exercise-difficulty.impossible {
	background-color: var(--impossible);
}

.exercise-sets {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--space-4);
}

.sets-table-header,
.sets-table-row {
	display: grid;
	grid-template-columns: 20px 1fr 1fr;
	text-align: center;
}

.sets-table-header {
	padding-bottom: var(--space-4);
	font-size: var(--font-size-2xs);
	font-weight: var(--font-weight-light);
	color: var(--muted);
}

.sets-table-row {
	padding: var(--space-4) 0;
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-bold);
	color: var(--fg);
}

.sets-table-row:nth-child(even) {
	background-color: var(--btn-secondary-bg);
}

.set-number {
	font-weight: var(--font-weight-light);
}

.set-number,
.set-weight,
.set-reps {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.exercise-notes {
	font-size: var(--font-size-2xs);
}

.workout-details-footer {
	display: flex;
	justify-content: space-between;
	padding: var(--space-16) var(--space-16) 0;
	margin: 0 calc(-1 * var(--space-16)) 0;
	border-top: 1px solid var(--border-color);
}

.delete-button {
	display: inline-flex;
	gap: var(--space-8);
	align-items: center;
	padding: var(--space-8) var(--space-16);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	color: white;
	cursor: pointer;
	background-color: var(--btn-danger-bg);
	border: none;
	border-radius: var(--border-radius);
	transition:
		background-color 0.2s,
		transform 0.1s;
}

.delete-button:hover {
	background-color: var(--btn-danger-hover);
}

.delete-button:active {
	transform: translateY(1px);
}
