.dashboard-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: var(--space-12) var(--space-16);
	height: var(--header-height);
}

h2.welcome-message {
	margin: 0 0 var(--space-4) 0;
}

.profile-image {
	cursor: pointer;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	object-fit: cover;
}
