@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.8914 0 0);
  --foreground: oklch(0.2138 0.0019 286.2347);
  --card: oklch(0.9097 0 0);
  --card-foreground: oklch(0.2138 0.0019 286.2347);
  --popover: oklch(0.9249 0 0);
  --popover-foreground: oklch(0.2138 0.0019 286.2347);
  --primary: oklch(0.7019 0.1262 181.4141);
  --primary-foreground: oklch(0.9097 0 0);
  --secondary: oklch(0.9128 0 0);
  --secondary-foreground: oklch(0.2138 0.0019 286.2347);
  --muted: oklch(0.8467 0.0069 286.2522);
  --muted-foreground: oklch(0.5134 0.0141 285.8940);
  --accent: oklch(0.8945 0 0);
  --accent-foreground: oklch(0.2138 0.0019 286.2347);
  --destructive: oklch(0.4968 0.2017 25.5696);
  --destructive-foreground: oklch(0.9249 0 0);
  --border: oklch(0.8514 0 0);
  --input: oklch(0.8514 0 0);
  --ring: oklch(0.6567 0 0);
  --chart-1: oklch(0.9189 0.0879 179.7105);
  --chart-2: oklch(0.8864 0.1219 178.9772);
  --chart-3: oklch(0.5783 0.1022 184.4033);
  --chart-4: oklch(0.4437 0.0773 187.4574);
  --chart-5: oklch(0.3607 0.0584 188.1199);
  --sidebar: oklch(0.9097 0 0);
  --sidebar-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-primary: oklch(0.2138 0.0019 286.2347);
  --sidebar-primary-foreground: oklch(0.9097 0 0);
  --sidebar-accent: oklch(0.8945 0 0);
  --sidebar-accent-foreground: oklch(0.2138 0.0019 286.2347);
  --sidebar-border: oklch(0.8514 0 0);
  --sidebar-ring: oklch(0.6567 0 0);
  --font-sans: Reddit Mono, ui-monospace, monospace;
  --font-serif: Reddit Mono, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Reddit Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.08), 0 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.08), 0 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.08), 0 2px 4px -1px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.08), 0 4px 6px -1px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.08), 0 8px 10px -1px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.20);
  --tracking-normal: 0em;
  --spacing: 0.27rem;
}

.dark {
  --background: oklch(0.1957 0 0);
  --foreground: oklch(0.9097 0 0);
  --card: oklch(0.2138 0.0019 286.2347);
  --card-foreground: oklch(0.9097 0 0);
  --popover: oklch(0.2520 0 0);
  --popover-foreground: oklch(0.9097 0 0);
  --primary: oklch(0.8424 0.1471 179.5089);
  --primary-foreground: oklch(0.2138 0.0019 286.2347);
  --secondary: oklch(0.3607 0.0584 188.1199);
  --secondary-foreground: oklch(0.9097 0 0);
  --muted: oklch(0.2520 0 0);
  --muted-foreground: oklch(0.6567 0 0);
  --accent: oklch(0.3482 0.0404 255.7918);
  --accent-foreground: oklch(0.9097 0 0);
  --destructive: oklch(0.6620 0.2246 25.1223);
  --destructive-foreground: oklch(0.9097 0 0);
  --border: oklch(0.2603 0 0);
  --input: oklch(0.3052 0 0);
  --ring: oklch(0.5173 0 0);
  --chart-1: oklch(0.9189 0.0879 179.7105);
  --chart-2: oklch(0.8864 0.1219 178.9772);
  --chart-3: oklch(0.8424 0.1471 179.5089);
  --chart-4: oklch(0.5148 0.0908 184.7639);
  --chart-5: oklch(0.3607 0.0584 188.1199);
  --sidebar: oklch(0.2138 0.0019 286.2347);
  --sidebar-foreground: oklch(0.9097 0 0);
  --sidebar-primary: oklch(0.4437 0.0773 187.4574);
  --sidebar-primary-foreground: oklch(0.9097 0 0);
  --sidebar-accent: oklch(0.2520 0 0);
  --sidebar-accent-foreground: oklch(0.9097 0 0);
  --sidebar-border: oklch(0.2603 0 0);
  --sidebar-ring: oklch(0.4091 0 0);
  --font-sans: Reddit Mono, ui-monospace, monospace;
  --font-serif: Reddit Mono, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Reddit Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.08), 0 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.08), 0 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.08), 0 2px 4px -1px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.08), 0 4px 6px -1px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.08), 0 8px 10px -1px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.20);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
