button {
	/* Button size and padding */
	--button-height: 2.5rem;
	--button-padding-x: 0.25rem;
	--button-padding-y: 0.5rem;

	/* Button small size and padding */
	--button-small-height: 2rem;
	--button-small-padding-x: 0.25rem;
	--button-small-padding-y: 0.25rem;

	/* Button text */
	--font-size: var(--font-size-md);
	--font-weight: var(--font-weight-medium);

	cursor: pointer;
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	padding: var(--button-padding-y) var(--button-padding-x);
	height: var(--button-height);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	font-family: var(--font-family-base);
	text-box: trim-both cap alphabetic;
}

button.primary {
	background-color: var(--btn-bg);
	color: var(--btn-fg);
}

button.primary:hover {
	background: var(--btn-bg-hover);
}

button.primary:active {
	background: var(--btn-bg-active);
}

/* Secondary button look (neutral background) */
button.secondary {
	border: 1px solid var(--border-color);
	background: var(--btn-secondary-bg);
	color: var(--fg);
}

button.secondary:hover {
	background: var(--btn-secondary-hover);
}

button.secondary:active {
	background: var(--btn-secondary-active);
}

button.danger {
	background-color: var(--btn-danger-bg);
	color: var(--btn-fg);
}

button.danger:hover {
	background-color: var(--btn-danger-hover);
}

button.danger:active {
	background-color: var(--btn-danger-active);
}

button.danger-secondary {
	border: 1px solid var(--border-color);
	background: var(--btn-secondary-bg);
	color: var(--btn-danger-bg);
}

button.danger-secondary:hover {
	background: var(--btn-secondary-hover);
}

button.danger-secondary:active {
	background: var(--btn-secondary-active);
}

button.square {
	padding: var(--space-16);
	height: auto;
}

button.small {
	padding: var(--button-small-padding-y) var(--button-small-padding-x);
	height: var(--button-small-height);
}
