.page-header {
	height: var(--header-height);
	padding: var(--space-12) var(--space-16);
}

.page-header-text {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-semibold);
	color: var(--fg);
}
