:root {
	--nav-height: 60px;
}

nav {
	display: flex;
	position: fixed;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 100;
	border-top: 1px solid var(--border-color);
	background-color: var(--nav-bg);
	padding: 0;
	height: auto;
	overflow: auto;
	color: var(--btn-fg);
}

@media (width <= 768px) {
	nav {
		right: 0;
		bottom: 0;
		flex-direction: row;
		padding: var(--space-4) 0;
		width: 100%;
		height: var(--nav-height);
	}
}

/* Nav buttons */
.nav-button {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: var(--space-4);
	transition: background-color 0.2s ease;
	cursor: pointer;
	border: none;
	border-radius: 0;
	background: var(--nav-bg);
	height: auto;
	color: var(--muted);
	text-decoration: none;
}

@media (width <= 768px) {
	.nav-button {
		flex: 1;
		flex-direction: column;
		min-width: 70px;
	}
}

.nav-button:hover {
	background: var(--nav-bg);
}

.nav-icon {
	display: block;
	font-size: 20px;
	line-height: 1;
}

.nav-text {
	display: block;
	font-size: var(--font-size-2xs);
	line-height: 1.2;
}

.nav-button.active .nav-text,
.nav-button.active .nav-icon {
	color: var(--primary);
	font-weight: var(--font-weight-semibold);
}

.nav-button:hover .nav-text,
.nav-button:hover .nav-icon {
	color: var(--primary);
}
