h2.section-header-text {
	margin-bottom: var(--space-4);
	color: var(--muted);
	font-weight: var(--font-weight-light);
	font-size: var(--font-size-md);
}

.section-container {
margin: 0 var(--space-16);
}

.section-content-bg {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	background-color: var(--bright-bg);
	padding: var(--space-12);
}
