@import url("node_modules/modern-normalize/modern-normalize.css");
@import url("./styles/colors.css");
@import url("./styles/typography.css");
@import url("./styles/spacing.css");

/* dark mode user-agent-styles
improves punctuation in supported browsers */
html {
	hanging-punctuation: first last;
}

/* min body height */
body {
	min-height: 100svh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists
prevent orphans in supported browsers */
p,
li {
	max-width: var(--p-max-width, 65ch);
	text-wrap: pretty;
}

:root {
	font-family: var(--font-family);
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
